.btn {
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
  padding: 0 20px;
  border-radius: 4px;
  margin: 3px 0;
  text-decoration: none;
  text-transform: none;
}

.teste {
  font-size: 45px;
  background: #fff;
}

.link-btn {
  font-size: 45px;
  background: #fff;
}
