// Colors
// ---
$primaryColor: #f5f3f4;
$secondaryColor: #fff;

$accent: #ea1d2c;
$accentLight: #d7ecff;
$hoverColor: #fec122;
$highLight: #fec122;

// Text
// ---
$primaryText: #3f3e3e;
$secondaryText: #6e6e6e;

// Shadow
// ---
$boxShadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$boxRadius: 4px;
$boxBorder: 1px solid #f7f7f7;
$btnShadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
