@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  text-rendering: optimizeLegibility;
  background: $primaryColor;
  color: $primaryText;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 600;
}

a:hover {
  color: $accent;
}

* {
  box-sizing: border-box;
}

header {
  display: grid;
  justify-items: right;
  position: relative;
  background: #fff;
  padding: 0.2rem 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);

  nav {
    display: grid;
    justify-content: right;
    align-items: end;
    width: 100%;

    div {
      display: grid;
      column-gap: 40px;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 50px;
      align-content: center;
      justify-content: space-between;
      justify-items: right;
      align-items: end;

      a {
        justify-self: center;
        align-self: center;
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}
